<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_pack_tag 'locale_switcher', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <header class="main">
    <%= image_tag 'logo.svg', alt: 'Pragmatic book shelf' %>
    <aside>
      <%= form_tag store_index_path, class: 'locale' do %>
        <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
        <%= submit_tag 'submit', id: "submit_locale_change" %>
      <% end %>
    </aside>
    <h1><%= @page_title %></h1>
  </header>

  <section class="content">
    <%= render 'layouts/navigation' %>
    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
  </section>
  </body>
</html>
